/* body, table, h1, h2, h3 {
    font-family: 'times new roman', palatino linotype, athena, tahoma; 
} */
body {
    font-family: 'times new roman', palatino linotype, athena, tahoma; 
    font-size: 10pt; color: rgb(0,0,0); 
    text-align: left; 
    margin-left:20px; 
    margin-right:20px; 
    margin-bottom: 3px
}

table {
    font-size: 10pt; 
    color: rgb(0,0,0); 
    text-align: left; 
    margin-bottom: 3px
}

h1 {
    font-size: 12pt; 
    color: rgb(204,0,0); 
    font-weight: bold; 
    text-align: center; 
    margin-top: 30px; 
    margin-bottom: 12px
}

h2 {
    font-size: 10pt; 
    font-weight: normal; 
    color: rgb(204,0,0); 
    margin-bottom: 6px
}

h3 {
    font-size: 10pt; 
    font-weight: normal; 
    color: rgb(0,0,128); 
    margin-bottom: 3px
}

a:link {
    font-weight: normal; 
    color: rgb(0,0,160); 
    text-decoration: none
}

a:active {
    font-weight: bold; 
    color: rgb(255,0,0); 
    text-decoration: none
}

a:visited {
    font-weight: normal; 
    color: rgb(128,0,128); 
    text-decoration: none
}

a:hover {
    font-weight: normal; 
    color: rgb(224,0,0); 
    text-decoration: none
}

body {
    background-color: rgb(255, 255, 224)
}